<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a Te Llevo App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="imagen" src="/assets/icon/coche-sedan-rojo-estilo-dibujos-animados-aislado-sobre-fondo-blanco_1308-64900.avif" alt="Imagen de fondo">
  <ion-grid class="ion-text-center ion-justify-content-center ion-align-items-center" style="height: 100%;">
    <ion-row>
      <ion-col size="12">
        <h1>Te Llevo App</h1>
        <p>Tu solución confiable para moverte rápidamente por la ciudad.</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" size="large" href="/login">Iniciar Sesión</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" size="large" href="/register" color="secondary">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
